# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Entornos virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de datos generados
*.json
*.pdf
*.html

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Modelos
models/
